{% extends 'base.html' %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="row">

 <h2 class="text-center">Informe uma nova senha!</h2>
<div class="col-sm-6 col-sm-offset-3"> <br><br>

 {% if validlink %}

    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input  type="submit" value="Alterar" class="btn btn-primary col-sm-12">
    </form>

    {% else %}
        <h3 class="col-sm-12">Este link de reset não está mais válido!</h3>
    {% endif %}
</div>
</div>

{% endblock %}
</body>
</html>