{% extends 'base.html' %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block style %}
        <style>
            .btn-primary{

            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="row">
<div class="col-sm-6 col-sm-offset-3">
      <h1 class='text-center'>Alterar Senha</h1>
<form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input  type="submit" value="Alterar" class="btn btn-primary col-sm-12">
    </form>
</div>
</div>
{% endblock %}
</body>
</html>