{% extends 'base.html' %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block style %}
    <style>
    

    </style>
{% endblock %}

</head>
<body>
{% block content %}
    <h1 class="text-center">Esqueceu sua senha ?</h1><br>
    <p class=" col-sm-4 col-sm-offset-4 text-justify">Entre com o endereço de email que está associado com sua conta
e nós lhe enviaresmo instruções de como você poderá mudar sua senha.</p>
    <div class="col-sm-4 col-sm-offset-4">

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Me envie instruções!" class="btn btn-primary col-sm-12">
    </form>
</div>
{% endblock %}
</body>
</html>